@charset "utf-8";

//底部
.login-footer{
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
}
.f-nav{
    margin-bottom: 10px;
    color: #ddd;
    a{
        display: inline-block;
        color: #919191;
        padding: 0 6px;
        line-height: 1.2;
        &:hover{
            color: #545454;
            font-weight: bold;
        }
    }
}
.f-text{
    color: #999;
    line-height: 26px;
}