@charset "utf-8";
@import "sidebar";

//购物车的内容部分
.cart_main {
    width: 990px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
}

.cart_header {
    position: relative;
    height: 100px;
    margin: 0 auto;
}

//logo
#logo {
    width: 220px;
    float: left;

    a {
        display: block;
    }
}

//购物进度
.shoppingprocess {
    float: right;
    width: 662px;
    height: 35px;
    display: block;
    margin-top: 30px;
    background-image: url(https://static.ingping.com/yp/images/cart/ico_20140721-1.0.0.png);
    background-repeat: no-repeat;
}

.shopprocess_td1 {
    width: 218px;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.pro_current {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.pro_other {
    color: #333;
    font-size: 14px;
}

//购物车空空如也
.m_nocart {
    position: relative;
    height: 218px;
    background: url(https://static.ingping.com/yp/images/cart/cartIcon-1.0.0.png) 336px 91px no-repeat;
}

.m_nocart_wrap {
    position: absolute;
    left: 396px;
    top: 90px;

    p {
        font-size: 16px;
    }

    a {
        color: #38d;
    }
}



//购物车不空的时候
//全部商品
.m_mycart {
    font-size: 16px;
    font-weight: bold;
    color: #e4393c;
    line-height: 32px;
    margin-top: 15px;
}

input {
    vertical-align: middle;
}

//商品内容
.cart_content .head {
    border: 1px solid #eaeaea;
    height: 34px;
    line-height: 34px;
}

.col {
    color: #999;
    float: left;
    padding: 0 10px;
}

.col1 {
    width: 114px;
}

//全选
.u-chk {
    margin: -6px 10px 0 12px;
    background-position: 0 0;
}

.u-chk {
    width: 17px;
    height: 18px;
    background-image: url(https://static.ingping.com/yp/images/cart/checkboxIcons-1.0.1.png);
    background-repeat: no-repeat;
    background-position: 0 -24px;

}

.lab {
    color: #000;
}

.col2 {
    width: 396px;
}

.col3 {
    width: 142px;
}

.col4 {
    width: 120px;
}

.col5 {
    width: 105px;
}

.col6 {
    width: 110px;
    padding: 0 7px;
    text-align: left;
}

//加入购物车数据
.cart_box_main {
    li {
        margin-top: 10px;
        background-color: #FFFBF0;
        border: 1px solid #eaeaea;
        display: table;
        padding: 20px 0;
        position: relative;
    }

    .col {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

    .col0 {
        padding-right: 0;
    }

    .col1 {
        padding: 0 10px 0 0;
        width: 460px;
    }

    .col2 {
        width: 112px;
    }

    .col3 {
        width: 152px;
    }
}

//物品详情
.imgwrap {
    width: 80px;
    float: left;

    img {
        width: 80px;
        height: 80px;
        border: 1px solid #eaeaea;
    }
}

.txtwrap {
    margin-left: 20px;
    width: 345px;
    float: left;
}

.goodtlt {
    height: 36px;
    line-height: 18px;
    overflow: hidden;

    a {
        font-size: 14px;
        display: block;
    }

    a:hover {
        color: #333;
    }
}

//价格
.newprice {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

//物品数量
.goods_count {
    display: inline-block;
    background-color: #fff;
    font-size: 16px;
    margin-top: 8px;
}

.minus {
    cursor: not-allowed;
    color: #bcbcbc;
    border-color: #bcbcbc;
}

.goods_num {
    float: left;
    width: 43px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: #bcbcbc 1px solid;
    border-width: 1px 0;
}

.plus {
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #bcbcbc;
    color: #333;
}

//商品总价格
.sum_price {
    font-weight: bold;
    font-size: 14px;
}

//删除
.cart_del {
    display: block;
    color: #333;
    cursor: pointer;
    line-height: 25px;
    height: 25px;
}

//总价格
#all_goods_price {
    height: 78px;
    width: 100%;
    margin: 15px 0;
    position: relative;
    border: 1px solid #eaeaea;
    background-color: #F8F8F8;
}

.select_all {
    padding-left: 10px;
    float: left;
    width: 300px;
    height: 78px;
    line-height: 78px;
    vertical-align: middle;
}

.cart_delete_all {
    margin-left: 10px;

    img {
        margin-right: 5px;
        margin-top: -3px;
    }
}

.all_num {
    color: #e50007;
    font-size: 16px;
    margin: 0 5px;
}

.price_all_goods {
    float: right;
    padding-right: 120px;
}

.price_all {
    float: left;
    position: relative;
    width: 145px;
    line-height: 23px;
    padding: 15px 0;
    text-align: center;
    border-right: 1px solid #eaeaea;
}

.fs-13 {
    font-size: 13px;
}

.youhui {
    color: #e50007;
    font-size: 16px;
}

.allneed {
    color: #e50007;
    font-size: 18px;
}

.jianhao::after {
    content: "";
    position: absolute;
    right: -35px;
    top: 5px;
    z-index: 100;
    background: url(https://static.ingping.com/yp/images/cart/subtract-1.0.0.jpg) no-repeat center center;
    width: 70px;
    height: 70px;
}

.denghao::after {
    content: "";
    position: absolute;
    right: -35px;
    top: 5px;
    z-index: 100;
    background: url(https://static.ingping.com/yp/images/cart/equal-1.0.0.jpg) no-repeat center center;
    width: 70px;
    height: 70px;
}

//结算
.gobuy {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 120px;
    line-height: 76px;
    text-align: center;
    background-color: #e50007;
    color: #fff;
    font-size: 18px;

    &:hover {
        color: #fff;
    }
}

//省钱小提示
.m_shengqian {
    position: relative;
    margin: 15px 0;
    padding: 10px;
    border: 1px dashed #ff6600;
    background: #FFFAF7;

    i {
        color: #ff6600;
        margin-right: 5px;
    }

    .ml-20 {
        margin-left: 20px;
    }
}
//关于购物车
.cart_about {
    width: 990px;
    border: solid 1px #eee;
    border-top: solid 2px #999999;
    padding: 15px 20px;
    margin: 50px 0 15px;
}

.cart_about_title {
    font-weight: 800;
    font-size: 13px;
    color: #959595;
}

.cart_about_word {
    float: left;
    line-height: 24px;
    margin-top: 15px;
    margin-left: 40px;

    a {
        color: #36c;
    }

    a:hover {
        color: #36c;
    }
}

.cart_about_word,
.cart_fr {
    p {
        color: #959595;
    }
}

//专业客服导购
.cart_fr {
    float: right;
}

.tab-dg {
    border: 1px solid #ff6600;
    color: #ff6600;
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 8px 10px;
    display: block;

    i {
        vertical-align: middle;
        margin-right: 5px;
        font-size: 22px;
    }

    span {
        font-size: 14px;
        vertical-align: middle;
    }
}




//header中部的导航
.header_nav {
    height: 36px;
    position: relative;
    line-height: 36px;
    border-bottom: 1px solid #EDEEF0;
    background-color: #FCFCFC;
}

//header中部的左部导航
.tnleft {
    float: left;
    padding: 0;

    h5 {
        font-size: 12px;
    }

    #login_info {
        color: #666;
    }

    #user_info {
        color: #ddd;

        .track {
            color: #ff6600;
            padding: 8px 5px;
        }
    }
}

//header中部的右部导航
.tnright {
    float: right;
    padding: 0;

    dd {
        float: left;
        position: relative;
    }
}

.tnright_h3 {
    float: left;

    a {
        line-height: 37px;
        border: 1px solid #fcfcfc;
        font-size: 12px;
        padding: 9px 20px 8px;
        box-sizing: border-box;

        &:hover {
            border: 1px solid #eaeaea;
            border-bottom: none;
        }
    }

    em {
        display: inline-block;
        width: 10px;
        height: 5px;
        margin: 0 0 0 5px;
        overflow: hidden;
        vertical-align: middle;
        font-size: 12px;
        line-height: 13px;
        background: url(../images/topNav_select.png);
    }
}

//二级导航
//我的音平二级导航
.my-yp,
.serve {
    &:hover {
        ul {
            display: block;
        }
    }
}

.my-yp {
    ul {
        display: none;
        position: absolute;
        width: 100%;
        top: 35px;
        right: 0;
        z-index: 8;
        border: 1px solid #eaeaea;
        border-top: 0;
        background: #fff;
    }

    li {
        line-height: 35px;
        border-top: 1px solid #eaeaea;

        a {
            padding: 0 15px;
        }
    }
}

//客服服务二级导航
.serve {
    &:hover {
        ul {
            display: block;
        }
    }

    .serve_tel {
        display: none;
        width: 245px;
        position: absolute;
        top: 35px;
        right: 0;
        z-index: 8;
        border: 1px solid #eaeaea;
        background: #fff;
    }

    li {
        width: 90%;
        margin: 0 auto;
    }

    //导航1
    .ontime {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 5px;
        position: relative;
        height: 135px;

        img {
            width: 100px;
            position: absolute;
            top: 20px;
            left: 15px;
            margin-top: -5px;
        }
    }

    .ontime_text {
        position: absolute;
        top: 60px;
        right: 23px;
        text-align: right;

        p {
            padding: 5px 0;
        }

        a {
            float: right;
            display: block;
            color: #fff;
            border: 1px solid #ff6600;
            border-radius: 20px;
            width: 80px;
            height: 27px;
            line-height: 26px;
            font-size: 14px;
            text-align: center;
            background: #ff6600;
        }
    }

    .text-666 {
        line-height: 18px;
        color: #666;
    }

    //导航2
    .serve_time {
        padding: 25px 0;
        height: 90px;

        .icon-tel {
            float: left;
            display: block;
            width: 60px;
            height: 60px;
        }

        i {
            font-size: 42px;
            color: #777;
            top: 2px;
            left: 10px;
            position: relative;
        }

        .text-p {
            float: left;
            height: 41px;
        }

        .span1 {
            line-height: 18px;
            display: block;
            font-weight: 700;
            font-size: 20px;
            color: #ff6600;
            margin-bottom: -5px;
        }

        .span2 {
            line-height: 18px;
            color: #666;
        }

    }

    //导航3
    .wechat {
        padding: 15px 0;
        border-top: 1px solid #e9e9e8;
        padding-left: 15px;

        span {
            float: left;
        }
    }

    .wechat-1 {
        width: 60px;
        margin-top: 20px;
    }

    .wechat-2 {
        margin-top: 22px;
        color: #959595;

        i {
            display: block;
            line-height: 16px;
        }
    }

    .wechat-3 {
        margin-left: 10px;
    }
}

//底部
.f_info {
    background: #333;
    color: #a4a4a4;
    padding: 20px 0;

    .f-16 {
        font-size: 16px;
        color: #fff;
        line-height: 24px;
    }
}

.lh-22 {
    line-height: 22px;
    color: #a4a4a4;

    a {
        color: #a4a4a4;
    }
}

.mt-10 {
    margin-top: 10px;
}

.info_logo {
    margin-right: 10px;
}