@charset "utf-8";
@import "loginregh";
@import "loginregf";

img {
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

i {
    font-style: normal;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
    font-size: 12px;
    color: #333;
}

#login-index {
    height: 880px;
    position: relative;
    overflow: hidden;
}

.reg-content {
    width: 100%;
    height: 560px;
    padding: 30px 0px 0;
    position: relative;
    cursor: pointer;
    background: #0094e2;
}

.title {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    position: inherit;
}

.regbox {
    width: 310px;
    line-height: 20px;
    background: #fff;
    padding: 10px 20px;
    position: absolute;
    margin: auto;
    margin-top: 90px;
    top: 0;
    left: 0;
    right: 0;

    .reg-title {
        height: 45px;
        font-size: 18px;
        line-height: 45px;
        color: #666666;
    }
}

.reg-main {
    margin-bottom: 16px;
    position: relative;
}

.enter {
    position: relative;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #e6e6e6 !important;
}

.enter-items {
    line-height: 20px;
    padding: 12px 10px;
    border: 0;
    font-size: 14px;
    outline: 0;
}
.remain{
    margin-left: 8px;
    vertical-align: middle;
    background: #fff;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 110px;
    text-align: center;
    a{
        color: #999;
        cursor: pointer;
        padding: 0px 10px;
        display: block;
        font-size: 13px;
    }
}
.reg-f{
    height: 18px;
    margin-top: 16px;
    color: #999;
}
.checkbox{
    position: relative;
    top: 2px;
}
#submit {
    margin-top: 16px;
    display: block;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}
.denglu{
    background: #E91206 !important;
    color: #fff !important;
    border: 1px solid #E91206 !important;
}
.zhuce{
    background: #fff!important;
    border: 1px solid #e5e5e5!important;
    color: #7c7c7c!important;
}