@charset "UTF-8";
.header_img {
  background: #df004d;
}
.header_img .pic {
  display: block;
  width: 1210px;
  height: 100px;
  margin: 0 auto;
  background: url(https://img.ingping.com/images/ad_images/201809/201809271754200539771.jpg) no-repeat;
}

.header_nav {
  height: 36px;
  position: relative;
  line-height: 36px;
  border-bottom: 1px solid #EDEEF0;
  background-color: #FCFCFC;
}

.tnleft {
  float: left;
  padding: 0;
}
.tnleft h5 {
  font-size: 12px;
}
.tnleft #login_info {
  color: #666;
}
.tnleft #user_info {
  color: #ddd;
}
.tnleft #user_info .track {
  color: #ff6600;
  padding: 8px 5px;
}

.tnright {
  float: right;
  padding: 0;
}
.tnright dd {
  float: left;
  position: relative;
}

.tnright_h3 {
  float: left;
}
.tnright_h3 a {
  line-height: 37px;
  border: 1px solid #fcfcfc;
  font-size: 12px;
  padding: 9px 20px 8px;
  box-sizing: border-box;
}
.tnright_h3 a:hover {
  border: 1px solid #eaeaea;
  border-bottom: none;
}
.tnright_h3 em {
  display: inline-block;
  width: 10px;
  height: 5px;
  margin: 0 0 0 5px;
  overflow: hidden;
  vertical-align: middle;
  font-size: 12px;
  line-height: 13px;
  background: url(../images/topNav_select.png);
}

.my-yp:hover ul,
.serve:hover ul {
  display: block;
}

.my-yp ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 35px;
  right: 0;
  z-index: 8;
  border: 1px solid #eaeaea;
  border-top: 0;
  background: #fff;
}
.my-yp li {
  line-height: 35px;
  border-top: 1px solid #eaeaea;
}
.my-yp li a {
  padding: 0 15px;
}

.serve:hover ul {
  display: block;
}
.serve .serve_tel {
  display: none;
  width: 245px;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 8;
  border: 1px solid #eaeaea;
  background: #fff;
}
.serve li {
  width: 90%;
  margin: 0 auto;
}
.serve .ontime {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
  position: relative;
  height: 135px;
}
.serve .ontime img {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 15px;
  margin-top: -5px;
}
.serve .ontime_text {
  position: absolute;
  top: 60px;
  right: 23px;
  text-align: right;
}
.serve .ontime_text p {
  padding: 5px 0;
}
.serve .ontime_text a {
  float: right;
  display: block;
  color: #fff;
  border: 1px solid #ff6600;
  border-radius: 20px;
  width: 80px;
  height: 27px;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  background: #ff6600;
}
.serve .text-666 {
  line-height: 18px;
  color: #666;
}
.serve .serve_time {
  padding: 25px 0;
  height: 90px;
}
.serve .serve_time .icon-tel {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
}
.serve .serve_time i {
  font-size: 42px;
  color: #777;
  top: 2px;
  left: 10px;
  position: relative;
}
.serve .serve_time .text-p {
  float: left;
  height: 41px;
}
.serve .serve_time .span1 {
  line-height: 18px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #ff6600;
  margin-bottom: -5px;
}
.serve .serve_time .span2 {
  line-height: 18px;
  color: #666;
}
.serve .wechat {
  padding: 15px 0;
  border-top: 1px solid #e9e9e8;
  padding-left: 15px;
}
.serve .wechat span {
  float: left;
}
.serve .wechat-1 {
  width: 60px;
  margin-top: 20px;
}
.serve .wechat-2 {
  margin-top: 22px;
  color: #959595;
}
.serve .wechat-2 i {
  display: block;
  line-height: 16px;
}
.serve .wechat-3 {
  margin-left: 10px;
}

.header_logonav {
  position: relative;
  height: 100px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}

#logo {
  width: 220px;
  float: left;
}

.logo_ad {
  width: 190px;
  text-align: center;
  float: left;
}

.search {
  width: 560px;
  float: left;
  margin-left: 10px;
}

.search_nav {
  position: relative;
  margin: 18px 0 0 0;
}

.searchbox {
  float: left;
  border: 2px solid #ff6600;
  border-right: 0;
  position: relative;
  background: #fff;
}
.searchbox .search-keyword {
  width: 458px;
  height: 32px;
  margin-top: 0;
  padding: 8px 10px 8px 0;
  border: 0;
  font-size: 14px;
  padding-left: 10px;
  line-height: 18px;
  color: #999;
  outline: none;
}

.search-btn {
  width: 90px;
  height: 36px;
  margin-top: 0;
  text-align: center;
  border: 0;
  cursor: pointer;
  background: #ff6600;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
}

.navbox {
  float: left;
  width: 100%;
  height: 18px;
  margin-top: 7px;
  overflow: hidden;
}
.navbox a {
  float: left;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 12px;
  color: #666;
}
.navbox a:hover {
  color: #f60;
}

.phonepics {
  float: right;
  margin-top: 17px;
  position: relative;
}
.phonepics .imgleft {
  margin-right: 14px;
  position: relative;
  cursor: pointer;
}
.phonepics b {
  width: 1px;
  height: 34px;
  background: #ddd;
  right: 85px;
  top: 3px;
  display: inline-block;
  position: absolute;
  font-weight: 700px;
}

.hovershow:hover .wx_code {
  display: block;
}

.wx_code {
  width: 200px;
  height: 120px;
  position: absolute;
  background: #fff;
  left: -69px;
  top: 40px;
  z-index: 9;
  display: none;
}

.nav_bar {
  position: relative;
}

.allbtn {
  width: 210px;
  height: 40px;
  background: #ff6600;
  float: left;
  z-index: 99999;
  position: relative;
}
.allbtn ul {
  z-index: 99999;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.9);
  width: 210px;
  height: 450px;
  top: 40px;
  left: 0px;
}

.subnavli {
  padding: 11px 0 9px 15px;
  border-bottom: 1px solid #555;
}
.subnavli:hover {
  background: #f7f7f7;
}
.subnavli:hover .subnavli_pop {
  display: block;
}
.subnavli:hover .topli > a, .subnavli:hover .botli > a {
  color: #666;
}

h2 a {
  box-sizing: border-box;
  line-height: 40px;
  background-color: #ff6600;
  padding-left: 15px;
  width: 210px;
  display: block;
  height: 40px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
}
h2 a:hover {
  color: #fff;
}

.topli a {
  color: #fff;
  font-size: 14px;
}

.botli {
  padding-top: 1px;
  line-height: 22px;
}
.botli a {
  color: #999;
  font-size: 12px;
}

.subnavli_pop {
  display: none;
  position: absolute;
  padding: 10px 20px;
  width: 770px;
  left: 210px;
  top: 0;
  background-color: #f7f7f7;
}
.subnavli_pop dl {
  padding-bottom: 6px;
  color: #666666;
  padding-top: 0px;
  margin-right: -8px;
  overflow: auto;
}
.subnavli_pop dt {
  padding-left: 0px;
  font-size: 12px;
  font-weight: 700;
  color: #ff6600;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin-right: 8px;
}
.subnavli_pop dt a {
  color: #ff6600;
}
.subnavli_pop a {
  margin-right: 5px;
  color: #666;
  white-space: nowrap;
}
.subnavli_pop dd {
  padding: 5px 0 0 0;
  line-height: 22px;
  float: left;
}

.ui-link span {
  padding: 0 5px 0 15px;
  display: inline-block;
  color: #ddd;
}

.cate_channel_lk {
  box-sizing: border-box;
  width: 78px;
  float: left;
  margin: 8px 8px 0 0px;
  overflow: hidden;
  padding: 3px 0px 3px 7px;
  background-color: #ff6600;
  color: #fff !important;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.subnavli_popdetail {
  padding: 0 5px;
  float: left;
}
.subnavli_popdetail a {
  text-align: center;
  margin-bottom: 5px;
}
.subnavli_popdetail img {
  height: 40px;
}

.pl-10 {
  padding-left: 10px;
}

.nav_index {
  position: absolute;
  left: 210px;
  height: 40px;
}
.nav_index li {
  margin-left: 50px;
  float: left;
}
.nav_index li .li7 {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.nav_index li .li7:hover {
  color: #ff5600;
}

.sub_nav:hover .sub_nav_main {
  display: block;
}

.sub_nav_main {
  display: none;
  z-index: 12000;
  border: 1px solid #ff6600;
  padding: 10px;
  position: absolute;
  top: 40px;
  left: 50px;
  width: 522px;
  background: #fff;
  padding-bottom: 5px;
}
.sub_nav_main::before {
  content: "";
  position: absolute;
  right: 100%;
  top: -10px;
  left: 125px;
  width: 15px;
  height: 12px;
  background: url(https://static.ingping.com/yp/images/index_arrow-1.0.0.png) no-repeat center center;
}
.sub_nav_main li {
  width: 100px;
  text-align: center;
  border-right: 1px solid #d1d1d1;
  float: left;
  margin-left: 0;
  margin-bottom: 10px;
}
.sub_nav_main a {
  font-size: 13px;
}

.nav_right {
  float: right;
}

.footer {
  position: relative;
  z-index: 9999;
}

.f_ribbon {
  background-color: #ff6600;
}
.f_ribbon .col-md-5 {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  width: 20%;
}
.f_ribbon a {
  display: inline-block;
  text-align: center;
  height: 65px;
  width: 100%;
  line-height: 65px;
  color: #fff !important;
  font-size: 18px;
  font-weight: 700;
}

.f_main {
  width: 100%;
  padding: 40px 0;
}

.main {
  width: 940px;
  float: left;
}

.col-md-2 {
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  width: 16.6%;
}
.col-md-2 dt {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.col-md-2 dd {
  line-height: 24px;
  font-size: 12px;
}

.tel {
  position: relative;
  float: right;
  width: 250px;
}

.telright {
  position: absolute;
  right: 0;
  top: 55px;
  text-align: right;
  color: #666;
}
.telright .f-18 {
  font-size: 18px !important;
}
.telright .f-30 {
  font-size: 30px !important;
  color: #ff6600;
}
.telright .online {
  margin-top: 5px;
}
.telright .online a {
  color: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 5px;
  padding: 7px 35px;
  display: inline-block;
  margin-top: 5px;
}
.telright .online a:hover {
  color: #fff;
  background: #ff6600;
}

.f_info {
  background: #333;
  color: #a4a4a4;
  padding: 20px 0;
}
.f_info .f-16 {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.lh-22 {
  line-height: 22px;
  color: #a4a4a4;
}
.lh-22 a {
  color: #a4a4a4;
}

.mt-10 {
  margin-top: 10px;
}

.info_logo {
  margin-right: 10px;
}

.info-link {
  margin-top: 20px;
  height: 16px;
  color: #999;
  overflow: hidden;
}
.info-link a {
  color: #a4a4a4;
  margin-right: 5px;
  display: inline-block;
}

.sidebar_content {
  position: fixed;
  right: -300px;
  bottom: 0;
  z-index: 10000;
  height: 100%;
}
.sidebar_content:after {
  content: " ";
  display: table;
  clear: both;
}

.sidebar {
  float: left;
  width: 30px;
  height: 100%;
  background: #333;
  z-index: 1000;
}

.side_link .icon_links,
.top .icon_links {
  display: block;
  width: 30px;
  height: 38px;
  font-size: 12px;
  position: relative;
  z-index: 200;
}
.side_link .side_links,
.top .side_links {
  display: inline-block;
  background-image: url(https://static.ingping.com/yp/images/ibar_sprites-1.0.1.png);
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: top;
  position: absolute;
}

.side_link {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -190px;
  z-index: 200;
  width: 30px;
  height: 315px;
}

.my_link {
  width: 18px;
  height: 19px;
  background-position: 0 0;
  top: 10px;
  left: 6px;
}

.tel_link {
  width: 20px;
  height: 20px;
  top: 11px;
  left: 6px;
  background-position: 0 -175px;
}

.cart_link {
  background-position: 0px -29px;
  width: 23px;
  height: 18px;
  top: 11px;
  left: 6px;
}

.money_link {
  width: 18px;
  height: 18px;
  background-position: 0 -57px;
  top: 10px;
  left: 6px;
}

.pen_link {
  width: 20px;
  margin: 0 auto;
  position: absolute;
  top: 8px;
  left: 5px;
}

.link_nav {
  position: relative;
}
.link_nav:hover .link_main {
  display: block;
}

.link_main {
  display: none;
  position: absolute;
  top: 0;
  left: -265px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px 0 0 2px;
  z-index: 300;
}

.right_white {
  right: -5px;
  top: 15px;
  width: 5px;
  height: 9px;
  background-position: 0 -253px;
}

.my_link_box {
  overflow: hidden;
  height: 120px;
}

.my_link_imgbox {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 6px 20px 0 5px;
  overflow: hidden;
}

.user_info {
  overflow: hidden;
  padding-top: 30px;
  width: 120px;
  float: left;
}
.user_info li {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
}

.login_btnbox {
  border-top: 1px dotted #d5d5d5;
  overflow: hidden;
  padding-top: 15px;
  clear: both;
}
.login_btnbox a {
  width: 94px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid;
  color: #333;
  float: left;
  background: #fff;
  border-color: #e9e9e9;
}
.login_btnbox a:hover {
  border-color: #ff6600;
  color: #333;
}
.login_btnbox .login_order {
  margin: 0 10px 0 35px;
}

.serve_tel {
  display: block;
  width: 245px;
  z-index: 8;
}
.serve_tel li {
  width: 90%;
  margin: 0 auto;
}

.ontime {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
  position: relative;
  height: 135px;
}
.ontime img {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 15px;
  margin-top: -5px;
}

.ontime_text {
  position: absolute;
  top: 60px;
  right: 23px;
  text-align: right;
}
.ontime_text p {
  padding: 5px 0;
}
.ontime_text a {
  float: right;
  display: block;
  color: #fff;
  border: 1px solid #ff6600;
  border-radius: 20px;
  width: 80px;
  height: 27px;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  background: #ff6600;
}

.text-666 {
  line-height: 18px;
  color: #666;
}

.serve_time {
  padding: 25px 0;
  height: 90px;
}
.serve_time .icon-tel {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
}
.serve_time i {
  font-size: 42px;
  color: #777;
  top: -12px;
  left: 10px;
  position: relative;
}
.serve_time .text-p {
  float: left;
  height: 41px;
}
.serve_time .span1 {
  line-height: 18px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #ff6600;
  margin-bottom: 5px;
}
.serve_time .span2 {
  line-height: 18px;
  color: #666;
}

.wechat {
  padding: 15px 0;
  border-top: 1px solid #e9e9e8;
  padding-left: 15px;
}
.wechat span {
  float: left;
}

.wechat-1 {
  width: 60px;
  margin-top: 20px;
}

.wechat-2 {
  margin-top: 22px;
  color: #959595;
}
.wechat-2 i {
  display: block;
  line-height: 16px;
}

.wechat-3 {
  margin-left: 10px;
}

#shopcart a {
  line-height: 16px;
  height: 133px;
  margin: 20px 0 10px;
}

.cart_link {
  background-position: 0px -29px;
  width: 23px;
  height: 18px;
  top: 11px;
  left: 6px;
}

.cart {
  display: inline-block;
  width: 16px;
  height: 48px;
  margin: 38px 0 0 10px;
  cursor: pointer;
  color: #fff;
}

.amount {
  width: 21px;
  height: 21px;
  display: block;
  border-radius: 50%;
  background: #ff6600;
  text-align: center;
  line-height: 21px;
  margin: 9px 0 0 6px;
  cursor: pointer;
  color: #fff;
}

.top {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  z-index: 1;
}

.topli_code {
  width: 18px;
  height: 18px;
  top: 11px;
  left: 6px;
  background-position: 0 -302px;
}

.topli_link_main {
  left: -200px;
  width: 200px;
  height: 200px;
  top: -162px;
}
.topli_link_main .right_white {
  top: 177px;
}

.topback {
  background-position: 0 -201px;
  width: 17px;
  height: 14px;
  top: 12px;
  left: 7px;
}

.sidebar-main {
  float: left;
  width: 300px;
  height: 100%;
  background: #f5f5f5;
  position: relative;
  z-index: 10001;
}

.side_header {
  height: 45px;
  width: 300px;
  border-bottom: 1px solid #e1e1e1;
  padding: 12px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header_fl {
  float: left;
}
.header_fl img {
  margin-right: 5px;
  padding-bottom: 3px;
}
.header_fl span {
  font-size: 15px;
  color: #73726f;
}

.header_fr {
  float: right;
  cursor: pointer;
}
.header_fr img:hover {
  transform: rotate(90deg);
  transition: all 0.1s ease;
}

.cart_count {
  width: 300px;
  padding: 0px 12px;
  padding-bottom: 15px;
  position: fixed;
  bottom: 0;
  background: #f5f5f5;
  z-index: 200;
}
.cart_count p {
  overflow: hidden;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
}
.cart_count a {
  background: #ff6600;
  color: #fff;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: block;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}

.cart_num_fl {
  line-height: 28px;
  float: left;
}
.cart_num_fl i {
  color: #f60;
}

.cart_num_fr {
  float: right;
}
.cart_num_fr em {
  color: #f60;
}
.cart_num_fr .shopping_money {
  color: #ff6600;
  font-size: 18px;
}

.cart-goods-list {
  margin-top: 45px;
  margin-bottom: 40px;
}
.cart-goods-list ul {
  background: #fff;
  border-top: 1px solid #ededed;
  padding: 0 12px;
  border-bottom: 1px solid #ededed;
}
.cart-goods-list .goods-li {
  overflow: hidden;
  padding: 15px 0px;
  border-bottom: 1px dashed #e1e1e1;
  position: relative;
}

.goods-image {
  float: left;
}
.goods-image img {
  width: 60px;
  height: 60px;
  border: 1px solid #e1e1e1;
  margin-right: 7px;
}

.goods-details {
  width: 74%;
  float: left;
}
.goods-details h3 {
  height: 34px;
  overflow: hidden;
  margin-bottom: 9px;
}
.goods-details h3 a {
  font-size: 12px;
  line-height: 16px;
  color: #616161;
}

.goods-details-price {
  font-size: 14px;
  color: #ff6600;
}
.goods-details-price span {
  color: #616161;
}
.goods-details-price .goods-delete {
  float: right;
}
.goods-details-price .goods-delete img {
  margin-top: -5px;
}

.gift-ul {
  margin-top: 10px;
  padding: 0;
}

.gift-li {
  padding: 15px 12px;
}

.goods-gift {
  position: relative;
  clear: both;
  border-bottom: 1px dashed #e1e1e1;
  margin-bottom: 15px;
}

.gift-label {
  padding: 0 5px;
  background: #e43e41;
  color: #fff;
  margin-left: 0px;
  margin-bottom: 15px;
  font-size: 14px;
  width: 38px;
  position: relative;
}
.gift-label::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 0;
  height: 0;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #e43e41;
}

.gift-tips {
  position: absolute;
  left: 45px;
  width: 220px;
  overflow: hidden;
  top: -1px;
  color: #616161;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 20px;
}

.allbtn:hover ul {
  display: block;
}
.allbtn ul {
  display: none;
}

.d_main {
  width: 100%;
  background-image: url(https://static.ingping.com/yp/images/main_bg-1.0.0.png);
  background-repeat: repeat-x;
}

.d_index {
  padding: 10px 0;
  color: #333;
}

.fdj {
  position: relative;
  float: left;
  width: 400px;
}

#spic {
  width: 400px;
  height: 400px;
  border: 1px solid #cdcdcd;
  float: left;
  position: relative;
  overflow: hidden;
}

#spic img {
  width: 400px;
  height: 400px;
}

#sf {
  width: 50px;
  height: 50px;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
}

#bf {
  width: 450px;
  height: 450px;
  border: 1px solid #cdcdcd;
  float: left;
  overflow: hidden;
  position: absolute;
  left: 410px;
  visibility: hidden;
  z-index: 10000;
}

#bf img {
  position: absolute;
  left: 0px;
  top: 0px;
}

#fdj_list {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
  height: 65px;
  float: left;
  margin-top: 15px;
}

#list {
  width: 344px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#list ul {
  /*移动的元素*/
  list-style: none;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
}
#list ul li {
  float: left;
  width: 65px;
  height: 65px;
  margin-right: 5px;
}
#list ul img {
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
}
#list ul img:hover {
  border: 2px solid #f60;
}

#fdj_list a {
  display: block;
  float: left;
  position: absolute;
  top: 20px;
  width: 15px;
  height: 21px;
}

#right {
  right: 2px;
  background: url(https://static.ingping.com/yp/images/detail_right-1.0.0.png) no-repeat center center;
}

#left {
  left: 1px;
  background: url(https://static.ingping.com/yp/images/detail_left-1.0.0.png) no-repeat center center;
}

.goods_num {
  position: absolute;
  top: 480px;
  left: 0;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  width: 100%;
}

.share {
  float: right;
  color: #333;
  cursor: pointer;
  height: 100%;
  line-height: 20px;
  padding-right: 3px;
  position: relative;
}

.share i,
.collect i {
  color: #f60;
}

.collect {
  float: right;
  color: #333;
  height: 100%;
  line-height: 20px;
  margin-right: 10px;
}

.d_right {
  float: right;
  width: 770px;
  position: relative;
}

.detail_items {
  width: 560px;
}

.items_name {
  padding: 5px 0 0 0;
}
.items_name h1 {
  line-height: 1.5em;
  overflow: hidden;
  font-weight: 700;
  font-size: 16px;
  color: #333;
}
.items_name p {
  color: #ff6600;
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
  margin-top: 10px;
}

.summary {
  background-color: #f7f7f7;
  padding: 15px 10px;
  margin: 15px 0px;
}

.summary-left {
  float: left;
}

.summary-price {
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
}

.cmr {
  float: left;
  color: #999;
  margin-right: 30px;
  line-height: 30px;
}

.price_c {
  float: left;
  color: #ff6600;
  font-size: 30px;
  margin-right: 3px;
  font-weight: 500;
}
.price_c em {
  margin-right: -8px;
  font-size: 18px;
}

.price-tip {
  top: -2px;
  color: #06699c;
  margin-left: 10px;
  position: relative;
  font-size: 13px;
}

.vip-price a {
  color: #38d;
  margin-left: 7px;
}

.only {
  background-color: #ff6600;
  padding: 3px;
  font-size: 12px;
  color: #fff;
  width: 120px;
  height: 80px;
  position: relative;
}
.only::before {
  content: " ";
  position: absolute;
  right: 100%;
  bottom: 0;
  right: -5px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 5px solid #ff6600;
}

.summary-right {
  border-left: 1px solid #b7b7b7;
  padding-left: 15px;
  float: right;
}
.summary-right a {
  display: block;
  color: #38d;
}
.summary-right a:hover {
  color: #38d;
}

.summary-top {
  padding-left: 10px;
  position: relative;
  width: 100%;
  padding-top: 4px;
}

.gift {
  float: right;
  width: 480px;
  line-height: 30px;
}
.gift span {
  float: left;
  width: 36px;
}
.gift span em {
  padding: 0 4px;
  color: #fff;
  background-color: #ff6600;
}

.gift-details {
  float: left;
}

.gift-item {
  width: 56px;
  float: left;
  height: 30px;
}
.gift-item a {
  float: left;
  margin-right: 3px;
}
.gift-item a img {
  display: block;
}
.gift-item em {
  font-size: 12px;
  font-family: arial;
  color: #ff6600;
}

.gift-a {
  color: red;
  margin-left: 6px;
}

.gift-state {
  color: #06699c;
  margin-left: 10px;
  font-size: 13px;
}

.choose {
  width: 100%;
  padding-left: 10px;
}

.choose_btn {
  margin-bottom: 20px;
}

.choose_count {
  float: left;
  margin-right: 15px;
}
.choose_count input {
  height: 50px;
  width: 30px;
  float: left;
  text-align: center;
  display: block;
  outline: none;
  border: 1px solid #ccc;
  line-height: 50px;
}

.controlNum {
  float: left;
  border: 1px solid #ccc;
  border-left: none;
}
.controlNum a {
  display: block;
  height: 24px;
  line-height: 24px;
  width: 15px;
  background-color: #f7f7f7;
  text-align: center;
  box-sizing: border-box;
}

.buy-add {
  float: left;
}
.buy-add a {
  display: inline-block;
  width: 168px;
  height: 50px;
  font: 700 18px/50px "microsoft yahei";
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  margin-left: 3px;
}
.buy-add a:hover {
  color: #fff;
}
.buy-add .buynow {
  background: #ff0036;
}
.buy-add .addcar {
  background: #ff6600;
}

.phonebuy {
  position: relative;
  margin-left: 10px;
  position: relative;
  display: block;
  float: left;
  width: 130px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #ddd;
  background: url(https://static.ingping.com/yp/images/mobile_buy-1.0.1.jpg) 10px no-repeat;
  background-position: center center;
}
.phonebuy:hover .phonebuy-pic {
  display: block;
}

.phonebuy-text {
  width: 128px;
  height: 48px;
  line-height: 48px;
  padding-left: 15px;
  font-size: 16px;
}

.phonebuy-pic {
  display: none;
  position: absolute;
  left: -1px;
  top: -123px;
  height: 122px;
  border: 1px solid #ddd;
  border-width: 1px 1px 0;
}
.phonebuy-pic img {
  width: 108px;
  height: 108px;
  margin: 7px 10px;
}

.zhifu-style {
  line-height: 20px;
  height: 55px;
}

.styles {
  max-width: 394px;
  float: left;
  width: 480px;
  line-height: 30px;
}
.styles span {
  float: left;
  position: relative;
  margin-right: 15px;
  margin-bottom: 4px;
  height: 20px;
}
.styles i {
  margin-right: 4px;
}
.styles .bg_yhk {
  background: url(https://static.ingping.com/yp/images/bankcard-1.0.0.png) no-repeat;
  width: 15px;
  height: 18px;
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
}

.other-info {
  line-height: 20px;
  margin-bottom: 40px;
  margin-top: 15px;
  padding-left: 5px;
  color: #999;
}
.other-info span {
  margin-right: 5px;
  font-size: 12px;
}

.info-text {
  border-radius: 10px;
  border: 1px solid #ff6600;
  color: #ff6600;
  background-color: rgba(255, 102, 0, 0.14);
  padding: 2px 6px;
}

.detail_tab {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}
.detail_tab strong {
  font-weight: normal;
  display: block;
  color: #676767;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}
.detail_tab strong span {
  color: #ddd;
}

.tab-content {
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative;
  height: 400px;
}
.tab-content li {
  width: 150px;
}
.tab-content a {
  display: block;
  text-align: center;
  padding: 20px 10px;
}
.tab-content a:hover {
  color: #333;
}
.tab-content ol {
  text-align: center;
  margin: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.tab-content ol span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #ff6600;
  margin: 0 6px;
}
.tab-content .active {
  background-color: #f60;
}

.tab-dg {
  border: 1px solid #ff6600;
  color: #ff6600;
  background-color: #fff;
  text-align: center;
  margin-top: 10px;
  padding: 8px 10px;
  display: block;
}
.tab-dg i {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 22px;
}
.tab-dg span {
  font-size: 14px;
  vertical-align: middle;
}

/*# sourceMappingURL=details.css.map */
