.header_img {
  background: #df004d;
}
.header_img .pic {
  display: block;
  width: 1210px;
  height: 100px;
  margin: 0 auto;
  background: url(https://img.ingping.com/images/ad_images/201809/201809271754200539771.jpg) no-repeat;
}

.header_nav {
  height: 36px;
  position: relative;
  line-height: 36px;
  border-bottom: 1px solid #EDEEF0;
  background-color: #FCFCFC;
}

.tnleft {
  float: left;
  padding: 0;
}
.tnleft h5 {
  font-size: 12px;
}
.tnleft #login_info {
  color: #666;
}
.tnleft #user_info {
  color: #ddd;
}
.tnleft #user_info .track {
  color: #ff6600;
  padding: 8px 5px;
}

.tnright {
  float: right;
  padding: 0;
}
.tnright dd {
  float: left;
  position: relative;
}
.tnright h3 {
  float: left;
}
.tnright a {
  line-height: 37px;
  border: 1px solid #fcfcfc;
  font-size: 12px;
  padding: 9px 20px 8px;
  box-sizing: border-box;
}
.tnright em {
  display: inline-block;
  width: 10px;
  height: 5px;
  margin: 0 0 0 5px;
  overflow: hidden;
  vertical-align: middle;
  font-size: 12px;
  line-height: 13px;
  background: url(../images/topNav_select.png);
}

.header_logonav {
  position: relative;
  height: 100px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}
.header_logonav #logo {
  width: 220px;
  float: left;
}
.header_logonav .logo_ad {
  width: 190px;
  text-align: center;
  float: left;
}
.header_logonav .search {
  width: 560px;
  float: left;
  margin-left: 10px;
}
.header_logonav .search_nav {
  position: relative;
  margin: 18px 0 0 0;
}
.header_logonav .searchbox {
  float: left;
  border: 2px solid #ff6600;
  border-right: 0;
  position: relative;
  background: #fff;
}
.header_logonav .searchbox .search-keyword {
  width: 458px;
  height: 32px;
  margin-top: 0;
  padding: 8px 10px 8px 0;
  border: 0;
  font-size: 14px;
  padding-left: 10px;
  line-height: 18px;
  color: #999;
  outline: none;
}
.header_logonav .search-btn {
  width: 90px;
  height: 36px;
  margin-top: 0;
  text-align: center;
  border: 0;
  cursor: pointer;
  background: #ff6600;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
}
.header_logonav .navbox {
  float: left;
  width: 100%;
  height: 18px;
  margin-top: 7px;
  overflow: hidden;
}
.header_logonav .navbox a {
  float: left;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 12px;
  color: #666;
}
.header_logonav .navbox a:hover {
  color: #f60;
}
.header_logonav .phonepics {
  float: right;
  margin-top: 17px;
  position: relative;
}
.header_logonav .phonepics .imgleft {
  margin-right: 14px;
  position: relative;
  cursor: pointer;
}
.header_logonav .phonepics b {
  width: 1px;
  height: 34px;
  background: #ddd;
  right: 85px;
  top: 3px;
  display: inline-block;
  position: absolute;
  font-weight: 700px;
}

.nav_bar {
  position: relative;
}

.all {
  width: 210px;
  height: 40px;
  background: #ff6600;
  float: left;
}
.all ul {
  z-index: 99999;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.9);
  width: 210px;
  height: 450px;
  top: 40px;
  left: 0px;
}
.all ul li {
  padding: 11px 0 9px 15px;
  zoom: 1;
  cursor: default;
  border-bottom: 1px solid #555;
}

.allbtn {
  z-index: 99999;
  position: relative;
}

h2 a {
  box-sizing: border-box;
  line-height: 40px;
  background-color: #ff6600;
  padding-left: 15px;
  width: 210px;
  display: block;
  height: 40px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
}
h2 a:hover {
  color: #fff;
}

.topli a {
  color: #fff;
  font-size: 14px;
}

.botli {
  padding-top: 1px;
  line-height: 22px;
}
.botli a {
  color: #999;
  font-size: 12px;
}

.nav_index {
  position: absolute;
  left: 210px;
  height: 40px;
}
.nav_index li {
  margin-left: 50px;
  float: left;
}
.nav_index li a {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.nav_index li a:hover {
  color: #ff5600;
}

.nav_right {
  float: right;
}

.footer {
  position: relative;
}

.f_ribbon {
  background-color: #ff6600;
}
.f_ribbon .col-md-5 {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  width: 20%;
}
.f_ribbon a {
  display: inline-block;
  text-align: center;
  height: 65px;
  width: 100%;
  line-height: 65px;
  color: #fff !important;
  font-size: 18px;
  font-weight: 700;
}

.f_main {
  width: 100%;
  padding: 40px 0;
}

.main {
  width: 940px;
  float: left;
}

.col-md-2 {
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  width: 16.6%;
}
.col-md-2 dt {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.col-md-2 dd {
  line-height: 24px;
  font-size: 12px;
}

.tel {
  position: relative;
  float: right;
  width: 250px;
}

.telright {
  position: absolute;
  right: 0;
  top: 55px;
  text-align: right;
  color: #666;
}
.telright .f-18 {
  font-size: 18px !important;
}
.telright .f-30 {
  font-size: 30px !important;
  color: #ff6600;
}
.telright .online {
  margin-top: 5px;
}
.telright .online a {
  color: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 5px;
  padding: 7px 35px;
  display: inline-block;
  margin-top: 5px;
}
.telright .online a:hover {
  color: #fff;
  background: #ff6600;
}

.f_info {
  background: #333;
  color: #a4a4a4;
  padding: 20px 0;
}
.f_info .f-16 {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.lh-22 {
  line-height: 22px;
  color: #a4a4a4;
}
.lh-22 a {
  color: #a4a4a4;
}

.mt-10 {
  margin-top: 10px;
}

.info_logo {
  margin-right: 10px;
}

.info-link {
  margin-top: 20px;
  height: 16px;
  color: #999;
  overflow: hidden;
}
.info-link a {
  color: #a4a4a4;
  margin-right: 5px;
  display: inline-block;
}

.sidebar {
  width: 30px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  height: 100%;
  background: #333;
}

.side_link a,
.top a {
  display: block;
  width: 30px;
  height: 38px;
  font-size: 12px;
  position: relative;
}
.side_link i,
.top i {
  display: inline-block;
  background: url(https://static.ingping.com/yp/images/ibar_sprites-1.0.1.png) no-repeat;
  cursor: pointer;
  vertical-align: top;
  position: absolute;
}

.side_link {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -190px;
  z-index: 200;
  width: 30px;
  height: 315px;
}
.side_link .my_link {
  width: 18px;
  height: 19px;
  background-position: 0 0;
  top: 10px;
  left: 6px;
}
.side_link .tel_link {
  width: 20px;
  height: 20px;
  top: 11px;
  left: 6px;
  background-position: 0 -175px;
}
.side_link .cart_link {
  background-position: 0px -29px;
  width: 23px;
  height: 18px;
  top: 11px;
  left: 6px;
}
.side_link .money_link {
  width: 18px;
  height: 18px;
  background-position: 0 -57px;
  top: 10px;
  left: 6px;
}
.side_link img {
  width: 20px;
  margin: 0 auto;
  position: absolute;
  top: 8px;
  left: 5px;
}

#shopcart a {
  line-height: 16px;
  height: 133px;
  margin: 20px 0 10px;
}

.cart_link {
  background-position: 0px -29px;
  width: 23px;
  height: 18px;
  top: 11px;
  left: 6px;
}

.cart {
  display: inline-block;
  width: 16px;
  height: 48px;
  margin: 38px 0 0 10px;
  cursor: pointer;
  color: #fff;
}

.amount {
  width: 21px;
  height: 21px;
  display: block;
  border-radius: 50%;
  background: #ff6600;
  text-align: center;
  line-height: 21px;
  margin: 9px 0 0 6px;
  cursor: pointer;
  color: #fff;
}

.top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  z-index: 1;
}
.top .topli {
  width: 18px;
  height: 18px;
  top: 11px;
  left: 6px;
  background-position: 0 -302px;
}
.top .topback {
  background-position: 0 -201px;
  width: 17px;
  height: 14px;
  top: 12px;
  left: 7px;
}

b,
strong {
  font-weight: 700px;
}

.container {
  width: 1210px;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
}
a:hover {
  color: #ff6600;
}

li {
  list-style: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  border: 0;
}

i {
  font-style: normal;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei;
  font-weight: normal;
  box-sizing: border-box;
  font-size: 12px;
  color: #333;
}

.banner_lunbo {
  height: 450px;
  width: 100%;
  position: relative;
}

.lunbo_img {
  position: relative;
}
.lunbo_img li {
  background: #df004d;
  position: absolute;
  left: 0px;
  top: 0px;
  display: list-item;
  opacity: 1;
  width: 100% !important;
  height: 450px;
}
.lunbo_img .img {
  width: 770px;
  margin-left: 210px;
  position: relative;
}

.tab_quickbtn {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 380px;
  width: 220px;
  height: 450px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}

.banner_tab {
  text-align: left;
  overflow: hidden;
  height: 208px;
}
.banner_tab .tab_title {
  height: 38px;
  line-height: 38px;
  padding: 0 10px 0 10px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.banner_tab .tab_title ul {
  float: left;
  position: absolute;
  left: 10px;
  height: 38px;
}
.banner_tab .tab_title li {
  float: left;
  margin: 0 10px;
  padding: 0 1px;
  cursor: pointer;
  font-size: 13px;
}
.banner_tab .tab_title .on {
  height: 38px;
  color: #ff6600;
  border-bottom: 3px solid #ff6600;
}
.banner_tab .tab_content ul {
  padding: 10px 15px;
}
.banner_tab .tab_content li {
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  overflow: hidden;
}

.quickbtn {
  border-width: 1px 0px 0px 0;
  border-color: #e8e8e8;
  border-style: solid;
  width: 220px;
  overflow: hidden;
}
.quickbtn li {
  float: left;
  width: 73px;
  height: 80px;
  border-width: 0px 1px 1px 0px;
  border-color: #e8e8e8;
  border-style: solid;
  text-align: center;
}
.quickbtn li:nth-child(3n) {
  border-width: 0px 0 1px 0px;
  width: 74px;
}
.quickbtn a {
  cursor: pointer;
  text-align: center;
  display: block;
  padding-top: 8px;
  height: 80px;
  font-size: 12px;
  box-sizing: border-box;
}
.quickbtn .icons {
  font-size: 2pc;
  line-height: 43px;
  transition: font-size 0.25s ease-out 0s;
}

.equipment,
.guess-main,
.new-main,
.ypnews-main {
  margin-right: -5px;
  margin-left: -5px;
  margin-top: 15px;
}

.eq-imgs,
.guess-imgs,
.new-imgs,
.ypnews-imgs {
  overflow: hidden;
  float: left;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
}

.text {
  overflow: hidden;
  margin: 30px 0px 10px 0;
  height: 33px;
  line-height: 33px;
  position: relative;
}
.text h2 {
  font-size: 26px;
}
.text h2 i {
  font-size: 26px;
  color: #ff6600;
}

.more {
  position: absolute;
  right: 0px;
  top: 5px;
}
.more i {
  margin: 0 5px;
  color: #ccc;
}

.guess-main {
  margin-top: 0;
}

.guess-goods {
  background: #fff;
  height: 270px;
  overflow: hidden;
  text-align: center;
  padding: 0 14px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.guess-goods a {
  display: block;
}
.guess-goods a img {
  margin: 15px 0;
}
.guess-goods a .goods-name {
  overflow: hidden;
  text-align: left;
  height: 38px;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

.goods-price {
  padding: 3px 0;
  height: 25px;
  margin-top: 5px;
  text-align: left;
  font-family: arial;
}
.goods-price span {
  color: #ff6600;
  font-weight: 700;
  margin-right: 8px;
  font-size: 16px;
}
.goods-price i {
  font-size: 16px;
  font-weight: 500;
  margin-right: 3px;
}

.hot-sales {
  height: 400px;
  margin-bottom: 10px;
}

.all-left {
  float: left;
  width: 400px;
  margin-right: 10px;
}
.all-left a {
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
}

.all-mid {
  float: left;
  margin-right: 10px;
  position: relative;
}
.all-mid .mid-top {
  width: 570px;
  margin-bottom: 10px;
}
.all-mid .mid-top .top-imgs {
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 190px;
}
.all-mid .mid-top-l {
  width: 280px;
}
.all-mid .mid-left {
  width: 350px;
  float: left;
}
.all-mid .mid-left .left-imgs {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 160px;
}
.all-mid .mid-right {
  width: 210px;
  float: right;
}

.all-right {
  float: left;
  width: 200px;
}
.all-right .right-2 {
  width: 210px;
}

.all-mid a,
.all-right a {
  height: 195px;
  background: #fff;
  position: relative;
  overflow: hidden;
  display: block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.cu {
  width: 28px;
  height: 31.11px;
  background: url(https://static.ingping.com/yp/images/cu-1.0.1.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  line-height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 14px;
}

.mid-left-l {
  width: 180px;
}

.all_left_div {
  position: absolute;
  top: 15px;
  left: 15px;
}
.all_left_div .c-999 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
}
.all_left_div .f-18 {
  font-size: 18px;
}

.right-imgs {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 130px;
}

.icon {
  background: url(https://static.ingping.com/yp/images/result-1.0.0.png);
  width: 32px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.icon1 {
  background-position: 0px 0px;
}

.same .all-left {
  float: left;
}
.same .all-mid {
  float: right;
  width: 790px;
  margin-right: 0px;
}
.same .fl {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.brands {
  height: 70px;
  background: #fff;
  border-bottom: 2px solid #ff6600;
}
.brands li {
  width: 120px;
  height: 70px;
  padding: 15px 0px;
  text-align: center;
  float: left;
}
.brands li a {
  display: block;
}
.brands li img {
  height: 40px;
}

.icon2 {
  background-position: 0px -26px;
}

.icon3 {
  background-position: 0px -52px;
}

.icon4 {
  background-position: 0px -78px;
}

.icon5 {
  background-position: 0px -104px;
}

.icon6 {
  background-position: 0px -130px;
}

.new-imgs,
.ypnews-imgs {
  background: #fff;
  margin: 0 3px;
}

.pro-img {
  overflow: hidden;
}
.pro-img img {
  width: 100%;
  margin: 0 auto;
  height: 174px;
}

.new-title {
  height: 34px;
  margin: 15px;
  overflow: hidden;
  font-size: 12px;
}

.share-pro {
  background: #f2f2f2;
  height: 62px;
  display: block;
  padding: 2px;
  margin: 15px;
}
.share-pro img {
  width: 62px;
  height: 62px;
  float: left;
  margin: 0;
}

.pro-title {
  padding: 13px 10px 19px 10px;
  margin-left: 62px;
}
.pro-title .title {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  height: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: -1px;
}

.line {
  border-top: 1px solid #ddd;
}

dl {
  padding: 10px;
}
dl dt {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  float: left;
  color: #999;
}
dl dd {
  float: right !important;
  color: #999;
}

.yp-title {
  height: 40px;
  margin: 15px;
  overflow: hidden;
  font-size: 14px;
}

/*# sourceMappingURL=index.css.map */
