.header_img {
  background: #df004d;
}
.header_img .pic {
  display: block;
  width: 1210px;
  height: 100px;
  margin: 0 auto;
  background: url(https://img.ingping.com/images/ad_images/201809/201809271754200539771.jpg) no-repeat;
}

.header_nav {
  height: 36px;
  position: relative;
  line-height: 36px;
  border-bottom: 1px solid #EDEEF0;
  background-color: #FCFCFC;
}

.tnleft {
  float: left;
  padding: 0;
}
.tnleft h5 {
  font-size: 12px;
}
.tnleft #login_info {
  color: #666;
}
.tnleft #user_info {
  color: #ddd;
}
.tnleft #user_info .track {
  color: #ff6600;
  padding: 8px 5px;
}

.tnright {
  float: right;
  padding: 0;
}
.tnright dd {
  float: left;
  position: relative;
}

.tnright_h3 {
  float: left;
}
.tnright_h3 a {
  line-height: 37px;
  border: 1px solid #fcfcfc;
  font-size: 12px;
  padding: 9px 20px 8px;
  box-sizing: border-box;
}
.tnright_h3 a:hover {
  border: 1px solid #eaeaea;
  border-bottom: none;
}
.tnright_h3 em {
  display: inline-block;
  width: 10px;
  height: 5px;
  margin: 0 0 0 5px;
  overflow: hidden;
  vertical-align: middle;
  font-size: 12px;
  line-height: 13px;
  background: url(../images/topNav_select.png);
}

.my-yp ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 35px;
  right: 0;
  z-index: 8;
  border: 1px solid #eaeaea;
  border-top: 0;
  background: #fff;
}
.my-yp li {
  line-height: 35px;
  border-top: 1px solid #eaeaea;
}
.my-yp li a {
  padding: 0 15px;
}

.serve .serve_tel {
  display: none;
  width: 245px;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 8;
  border: 1px solid #eaeaea;
  background: #fff;
}
.serve li {
  width: 90%;
  margin: 0 auto;
}
.serve .ontime {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
  position: relative;
  height: 135px;
}
.serve .ontime img {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 15px;
  margin-top: -5px;
}
.serve .ontime_text {
  position: absolute;
  top: 60px;
  right: 23px;
  text-align: right;
}
.serve .ontime_text p {
  padding: 5px 0;
}
.serve .ontime_text a {
  float: right;
  display: block;
  color: #fff;
  border: 1px solid #ff6600;
  border-radius: 20px;
  width: 80px;
  height: 27px;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  background: #ff6600;
}
.serve .text-666 {
  line-height: 18px;
  color: #666;
}
.serve .serve_time {
  padding: 25px 0;
  height: 90px;
}
.serve .serve_time .icon-tel {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
}
.serve .serve_time i {
  font-size: 42px;
  color: #777;
  top: 2px;
  left: 10px;
  position: relative;
}
.serve .serve_time .text-p {
  float: left;
  height: 41px;
}
.serve .serve_time .span1 {
  line-height: 18px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #ff6600;
  margin-bottom: -5px;
}
.serve .serve_time .span2 {
  line-height: 18px;
  color: #666;
}
.serve .wechat {
  padding: 15px 0;
  border-top: 1px solid #e9e9e8;
  padding-left: 15px;
}
.serve .wechat span {
  float: left;
}
.serve .wechat-1 {
  width: 60px;
  margin-top: 20px;
}
.serve .wechat-2 {
  margin-top: 22px;
  color: #959595;
}
.serve .wechat-2 i {
  display: block;
  line-height: 16px;
}
.serve .wechat-3 {
  margin-left: 10px;
}

.header_logonav {
  position: relative;
  height: 100px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}

#logo {
  width: 220px;
  float: left;
}

.logo_ad {
  width: 190px;
  text-align: center;
  float: left;
}

.search {
  width: 560px;
  float: left;
  margin-left: 10px;
}

.search_nav {
  position: relative;
  margin: 18px 0 0 0;
}

.searchbox {
  float: left;
  border: 2px solid #ff6600;
  border-right: 0;
  position: relative;
  background: #fff;
}
.searchbox input {
  width: 458px;
  height: 32px;
  margin-top: 0;
  padding: 8px 10px 8px 0;
  border: 0;
  font-size: 14px;
  padding-left: 10px;
  line-height: 18px;
  color: #999;
  outline: none;
}
.searchbox ul {
  background: #fff;
  border: 1px solid #eaeaea;
  border-top-color: #f60;
  border-top-width: 2px;
  position: absolute;
  width: 460px;
  line-height: 30px;
  padding-left: 10px;
  left: -2px;
  top: 32px;
  z-index: 99999;
}
.searchbox li {
  font-size: 14px;
}
.searchbox li a {
  display: block;
}

.search-btn {
  width: 90px;
  height: 36px;
  margin-top: 0;
  text-align: center;
  border: 0;
  cursor: pointer;
  background: #ff6600;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
  outline: none;
}

.navbox {
  float: left;
  width: 100%;
  height: 18px;
  margin-top: 7px;
  overflow: hidden;
}
.navbox a {
  float: left;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 12px;
  color: #666;
}

.phonepics {
  float: right;
  margin-top: 17px;
  position: relative;
}
.phonepics .imgleft {
  margin-right: 14px;
  position: relative;
  cursor: pointer;
}
.phonepics b {
  width: 1px;
  height: 34px;
  background: #ddd;
  right: 85px;
  top: 3px;
  display: inline-block;
  position: absolute;
  font-weight: 700px;
}

.wx_code {
  width: 200px;
  height: 120px;
  position: absolute;
  background: #fff;
  left: -69px;
  top: 40px;
  z-index: 9;
  display: none;
}

.nav_bar {
  position: relative;
}

.allbtn {
  width: 210px;
  height: 40px;
  background: #ff6600;
  float: left;
  z-index: 9999;
  position: relative;
}
.allbtn ul {
  z-index: 9999;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.9);
  width: 210px;
  height: 450px;
  top: 40px;
  left: 0px;
}

.subnavli {
  padding: 11px 0 9px 15px;
  border-bottom: 1px solid #555;
}
.subnavli:hover {
  background: #f7f7f7;
}
.subnavli:hover .topli > a, .subnavli:hover .botli > a {
  color: #666;
}

h2 a {
  box-sizing: border-box;
  line-height: 40px;
  background-color: #ff6600;
  padding-left: 15px;
  width: 210px;
  display: block;
  height: 40px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
}
h2 a:hover {
  color: #fff;
}

.topli a {
  color: #fff;
  font-size: 14px;
}

.botli {
  padding-top: 1px;
  line-height: 22px;
}
.botli a {
  color: #999;
  font-size: 12px;
  margin-right: 5px;
}

.subnavli_pop {
  display: none;
  position: absolute;
  padding: 10px 20px;
  width: 770px;
  left: 210px;
  top: 0;
  background-color: #f7f7f7;
}
.subnavli_pop dl {
  padding-bottom: 6px;
  color: #666666;
  padding-top: 0px;
  margin-right: -8px;
  overflow: auto;
}
.subnavli_pop dt {
  padding-left: 0px;
  font-size: 12px;
  font-weight: 700;
  color: #ff6600;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin-right: 8px;
}
.subnavli_pop dt a {
  color: #ff6600;
}
.subnavli_pop a {
  margin-right: 5px;
  color: #666;
  white-space: nowrap;
}
.subnavli_pop dd {
  padding: 5px 0 0 0;
  line-height: 22px;
  float: left;
}

.ui-link span {
  padding: 0 5px 0 15px;
  display: inline-block;
  color: #ddd;
}

.cate_channel_lk {
  box-sizing: border-box;
  width: 78px;
  float: left;
  margin: 8px 8px 0 0px;
  overflow: hidden;
  padding: 3px 0px 3px 7px;
  background-color: #ff6600;
  color: #fff !important;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.subnavli_popdetail {
  padding: 0 5px;
  float: left;
}
.subnavli_popdetail a {
  text-align: center;
  margin-bottom: 5px;
}
.subnavli_popdetail img {
  height: 40px;
}

.pl-10 {
  padding-left: 10px;
}

.nav_index {
  position: absolute;
  left: 210px;
  height: 40px;
}
.nav_index li {
  margin-left: 50px;
  float: left;
}
.nav_index li .li7 {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.nav_index li .li7:hover {
  color: #ff5600;
}

.sub_nav_main {
  display: none;
  z-index: 12000;
  border: 1px solid #ff6600;
  padding: 10px;
  position: absolute;
  top: 40px;
  left: 50px;
  width: 522px;
  background: #fff;
  padding-bottom: 5px;
}
.sub_nav_main::before {
  content: "";
  position: absolute;
  right: 100%;
  top: -10px;
  left: 125px;
  width: 15px;
  height: 12px;
  background: url(https://static.ingping.com/yp/images/index_arrow-1.0.0.png) no-repeat center center;
}
.sub_nav_main li {
  width: 100px;
  text-align: center;
  border-right: 1px solid #d1d1d1;
  float: left;
  margin-left: 0;
  margin-bottom: 10px;
}
.sub_nav_main a {
  font-size: 13px;
}

.nav_right {
  width: 220px;
  overflow: hidden;
  float: right;
}

.nav_right_1 {
  width: 220px;
  position: relative;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  padding-right: 24px;
  text-align: right;
  font-weight: 700;
}

.nav_right_2 {
  position: relative;
  height: 39px;
}
.nav_right_2 ul {
  position: absolute;
  left: 0;
  top: 0;
}
.nav_right_2 li {
  height: 39px;
}

.top_bot {
  position: absolute;
  right: -15px;
  top: 8px;
}
.top_bot a {
  background: url(https://static.ingping.com/yp/images/index_newadd-1.0.0.png) no-repeat -12px 0;
  width: 12px;
  height: 12px;
  display: block;
}
.top_bot .next {
  background-position: -12px -24px;
}

.top_bot .prev:hover {
  background-position: 0 0;
}

.top_bot .next:hover {
  background-position: 0 -24px;
}

.footer {
  position: relative;
  z-index: 9999;
}

.f_ribbon {
  background-color: #ff6600;
}
.f_ribbon .col-md-5 {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  width: 20%;
}
.f_ribbon a {
  display: inline-block;
  text-align: center;
  height: 65px;
  width: 100%;
  line-height: 65px;
  color: #fff !important;
  font-size: 18px;
  font-weight: 700;
}

.f_main {
  width: 100%;
  padding: 40px 0;
}

.main {
  width: 940px;
  float: left;
}

.col-md-2 {
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  width: 16.6%;
}
.col-md-2 dt {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.col-md-2 dd {
  line-height: 24px;
  font-size: 12px;
}

.tel {
  position: relative;
  float: right;
  width: 250px;
}

.telright {
  position: absolute;
  right: 0;
  top: 55px;
  text-align: right;
  color: #666;
}
.telright .f-18 {
  font-size: 18px !important;
}
.telright .f-30 {
  font-size: 30px !important;
  color: #ff6600;
}
.telright .online {
  margin-top: 5px;
}
.telright .online a {
  color: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 5px;
  padding: 7px 35px;
  display: inline-block;
  margin-top: 5px;
}
.telright .online a:hover {
  color: #fff;
  background: #ff6600;
}

.f_info {
  background: #333;
  color: #a4a4a4;
  padding: 20px 0;
}
.f_info .f-16 {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.lh-22 {
  line-height: 22px;
  color: #a4a4a4;
}
.lh-22 a {
  color: #a4a4a4;
}

.mt-10 {
  margin-top: 10px;
}

.info_logo {
  margin-right: 10px;
}

.info-link {
  margin-top: 20px;
  height: 16px;
  color: #999;
  overflow: hidden;
}
.info-link a {
  color: #a4a4a4;
  margin-right: 5px;
  display: inline-block;
}

.sidebar_content {
  position: fixed;
  right: 0px;
  bottom: 0;
  z-index: 10000;
  height: 100%;
}
.sidebar_content:after {
  content: " ";
  display: table;
  clear: both;
}

.sidebar {
  float: left;
  width: 30px;
  height: 100%;
  background: #333;
  z-index: 1000;
}

.side_link .icon_links,
.top .icon_links {
  display: block;
  width: 30px;
  height: 38px;
  font-size: 12px;
  position: relative;
  z-index: 200;
}
.side_link .side_links,
.top .side_links {
  display: inline-block;
  background-image: url(https://static.ingping.com/yp/images/ibar_sprites-1.0.1.png);
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: top;
  position: absolute;
}

.side_link {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -190px;
  z-index: 200;
  width: 30px;
  height: 315px;
}

.my_link {
  width: 18px;
  height: 19px;
  background-position: 0 0;
  top: 10px;
  left: 6px;
}

.tel_link {
  width: 20px;
  height: 20px;
  top: 11px;
  left: 6px;
  background-position: 0 -175px;
}

.cart_link {
  background-position: 0px -29px;
  width: 23px;
  height: 18px;
  top: 11px;
  left: 6px;
}

.money_link {
  width: 18px;
  height: 18px;
  background-position: 0 -57px;
  top: 10px;
  left: 6px;
}

.pen_link {
  width: 20px;
  margin: 0 auto;
  position: absolute;
  top: 8px;
  left: 5px;
}

.link_nav {
  position: relative;
}

.link_main {
  display: none;
  position: absolute;
  top: 0;
  left: -265px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px 0 0 2px;
  z-index: 300;
}

.right_white {
  right: -5px;
  top: 15px;
  width: 5px;
  height: 9px;
  background-position: 0 -253px;
}

.side_link3, .side_link4, .top_links {
  position: relative;
}

.tooltip {
  visibility: hidden;
  left: -121px;
  height: 42px;
  line-height: 42px;
  width: 92px;
  position: absolute;
  top: 0;
  z-index: 2;
  background: #444851;
  color: #d8d8d8;
  text-align: center;
}

.right_black {
  position: absolute;
  right: -5px;
  top: 15px;
  width: 5px;
  height: 9px;
  background-position: 0 -234px;
}

.my_link_box {
  overflow: hidden;
  height: 120px;
}

.my_link_imgbox {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 6px 20px 0 5px;
  overflow: hidden;
}

.user_info {
  overflow: hidden;
  padding-top: 30px;
  width: 120px;
  float: left;
}
.user_info li {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
}

.login_btnbox {
  border-top: 1px dotted #d5d5d5;
  overflow: hidden;
  padding-top: 15px;
  clear: both;
}
.login_btnbox a {
  width: 94px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid;
  color: #333;
  float: left;
  background: #fff;
  border-color: #e9e9e9;
}
.login_btnbox a:hover {
  border-color: #ff6600;
  color: #333;
}
.login_btnbox .login_order {
  margin: 0 10px 0 35px;
}

.serve_tel {
  display: block;
  width: 245px;
  z-index: 8;
}
.serve_tel li {
  width: 90%;
  margin: 0 auto;
}

.ontime {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
  position: relative;
  height: 135px;
}
.ontime img {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 15px;
  margin-top: -5px;
}

.ontime_text {
  position: absolute;
  top: 60px;
  right: 23px;
  text-align: right;
}
.ontime_text p {
  padding: 5px 0;
}
.ontime_text a {
  float: right;
  display: block;
  color: #fff;
  border: 1px solid #ff6600;
  border-radius: 20px;
  width: 80px;
  height: 27px;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  background: #ff6600;
}

.text-666 {
  line-height: 18px;
  color: #666;
}

.serve_time {
  padding: 25px 0;
  height: 90px;
}
.serve_time .icon-tel {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
}
.serve_time i {
  font-size: 42px;
  color: #777;
  top: -12px;
  left: 10px;
  position: relative;
}
.serve_time .text-p {
  float: left;
  height: 41px;
}
.serve_time .span1 {
  line-height: 18px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #ff6600;
  margin-bottom: 5px;
}
.serve_time .span2 {
  line-height: 18px;
  color: #666;
}

.wechat {
  padding: 15px 0;
  border-top: 1px solid #e9e9e8;
  padding-left: 15px;
}
.wechat span {
  float: left;
}

.wechat-1 {
  width: 60px;
  margin-top: 20px;
}

.wechat-2 {
  margin-top: 22px;
  color: #959595;
}
.wechat-2 i {
  display: block;
  line-height: 16px;
}

.wechat-3 {
  margin-left: 10px;
}

#shopcart a {
  line-height: 16px;
  height: 130px;
  margin: 20px 0 10px;
}

.cart_link {
  background-position: 0px -29px;
  width: 23px;
  height: 18px;
  top: 11px;
  left: 6px;
}

.cart {
  display: inline-block;
  width: 16px;
  height: 48px;
  margin: 38px 0 0 10px;
  cursor: pointer;
  color: #fff;
}

.amount {
  width: 21px;
  height: 21px;
  display: block;
  border-radius: 50%;
  background: #ff6600;
  text-align: center;
  line-height: 21px;
  margin: 9px 0 0 6px;
  cursor: pointer;
  color: #fff;
}

.top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  z-index: 1;
}

.topli_code {
  width: 18px;
  height: 18px;
  top: 11px;
  left: 6px;
  background-position: 0 -302px;
}

.topli_link_main {
  left: -200px;
  width: 200px;
  height: 200px;
  top: -162px;
}
.topli_link_main .right_white {
  top: 177px;
}

.topback {
  display: none;
  background-position: 0 -201px;
  width: 17px;
  height: 14px;
  top: 12px;
  left: 7px;
}

#nav_panel {
  z-index: 99999;
  width: 40px;
  background: #ccc;
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: -650px;
}
#nav_panel li:hover {
  color: #fff;
  position: relative;
  background: #ff6600;
}
#nav_panel li,
#nav_panel p {
  display: block;
  background: #666;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 40px;
  padding: 5px 5px 0 5px;
  line-height: 15px;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
#nav_panel .first_li {
  line-height: 35px;
  font-size: 14px;
  position: relative;
  background: #ff6600;
}
#nav_panel .current {
  color: #fff;
  position: relative;
  background: #ff6600;
}

.banner_lunbo {
  height: 450px;
  width: 100%;
  position: relative;
}

.lunbo_img {
  position: relative;
}
.lunbo_img li {
  position: absolute;
  left: 0px;
  top: 0px;
  display: list-item;
  width: 100% !important;
  height: 450px;
  opacity: 0;
}
.lunbo_img li:nth-of-type(1) {
  opacity: 1;
}
.lunbo_img .img {
  width: 770px;
  margin: 0 auto;
  position: relative;
}
.lunbo_img .img img {
  width: 770px;
  height: 450px;
}

.lunbo_span {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.lunbo_span span {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 6px;
  margin: 4px;
  background: #fff;
  overflow: hidden;
  opacity: 0.4;
}
.lunbo_span .on {
  opacity: 1;
}

.lunbo_main {
  position: relative;
  height: 450px;
}

.nextbtn,
.prevbtn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  opacity: 0.4;
  font-size: 50px;
  line-height: 45px;
  text-align: center;
  position: absolute;
  top: 220px;
  color: #fff;
  z-index: 1000;
}
.nextbtn:hover,
.prevbtn:hover {
  background: #fff;
  color: #f00;
}

.nextbtn {
  right: 320px;
}

.prevbtn {
  left: 310px;
}

.tab_quickbtn {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 380px;
  width: 220px;
  height: 450px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}

.banner_tab {
  text-align: left;
  overflow: hidden;
  height: 208px;
}
.banner_tab .tab_title {
  height: 38px;
  line-height: 38px;
  padding: 0 10px 0 10px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.banner_tab .tab_title ul {
  float: left;
  position: absolute;
  left: 10px;
  height: 38px;
}
.banner_tab .tab_title li {
  float: left;
  margin: 0 10px;
  padding: 0 1px;
  cursor: pointer;
  font-size: 13px;
}
.banner_tab .tab_title .on {
  height: 38px;
  color: #ff6600;
  border-bottom: 3px solid #ff6600;
}
.banner_tab .tab_content ul {
  padding: 10px 15px;
}
.banner_tab .tab_content li {
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  overflow: hidden;
}

.quickbtn {
  border-width: 1px 0px 0px 0;
  border-color: #e8e8e8;
  border-style: solid;
  width: 220px;
  overflow: hidden;
}
.quickbtn li {
  float: left;
  width: 73px;
  height: 80px;
  border-width: 0px 1px 1px 0px;
  border-color: #e8e8e8;
  border-style: solid;
  text-align: center;
}
.quickbtn li:hover p {
  color: #f60;
}
.quickbtn li:nth-child(3n) {
  border-width: 0px 0 1px 0px;
  width: 74px;
}
.quickbtn a {
  cursor: pointer;
  text-align: center;
  display: block;
  padding-top: 8px;
  height: 80px;
  font-size: 12px;
  box-sizing: border-box;
}
.quickbtn .icons {
  font-size: 2pc;
  line-height: 43px;
  transition: font-size 0.25s ease-out 0s;
}

.equipment,
.guess-main,
.new-main,
.ypnews-main {
  margin-top: 15px;
}

.eq-imgs,
.guess-imgs,
.new-imgs,
.ypnews-imgs {
  overflow: hidden;
  float: left;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
}

.guess-imgs:hover p {
  color: #f60;
  transition: all 0.4s;
}
.guess-imgs:hover img {
  margin-left: 10px;
}

#main .hover_move:hover img {
  right: 25px;
}
#main .hover_move:hover .left-imgs,
#main .hover_move:hover .right-imgs {
  right: 15px;
}

.eq-imgs {
  position: relative;
}

.eq-imgs a::before {
  transform: skew(20deg, 0deg);
  transition: all 0.5s;
  position: absolute;
  content: "";
  width: 70%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: -100%;
}

.eq-imgs a::after {
  transform: skew(20deg, 0deg);
  transition: all 0.5s;
  position: absolute;
  content: "";
  width: 70%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  right: -100%;
}

.eq-imgs a:hover::before {
  left: -20%;
}

.eq-imgs a:hover::after {
  right: -20%;
}

.text {
  overflow: hidden;
  margin: 30px 0px 10px 0;
  height: 33px;
  line-height: 33px;
  position: relative;
}
.text h2 {
  font-size: 26px;
}
.text h2 i {
  font-size: 30px;
  color: #ff6600;
}

.more {
  position: absolute;
  right: 0px;
  top: 5px;
}
.more i {
  margin: 0 5px;
  color: #ccc;
}

.guess-main {
  margin-top: 0;
}

.guess-goods {
  background: #fff;
  height: 270px;
  overflow: hidden;
  text-align: center;
  padding: 0 14px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.guess-goods a {
  display: block;
}
.guess-goods a img {
  margin: 15px 20px;
  transition: all 0.4s;
}
.guess-goods .goods-name {
  overflow: hidden;
  text-align: left;
  height: 38px;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

.goods-price {
  padding: 3px 0;
  height: 25px;
  margin-top: 5px;
  text-align: left;
  font-family: arial;
}
.goods-price span {
  color: #ff6600;
  font-weight: 700;
  margin-right: 8px;
  font-size: 16px;
}
.goods-price i {
  font-size: 16px;
  font-weight: 500;
  margin-right: 3px;
}

.hot-sales {
  height: 400px;
  margin-bottom: 10px;
}

.all-left {
  float: left;
  width: 400px;
  margin-right: 10px;
}
.all-left a {
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
}

.all-mid {
  float: left;
  margin-right: 10px;
  position: relative;
}
.all-mid .mid-top {
  width: 570px;
  margin-bottom: 10px;
}
.all-mid .mid-top img {
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 190px;
  transition: all 0.4s;
}
.all-mid .mid-top-l {
  width: 280px;
}
.all-mid .mid-right {
  width: 210px;
  float: right;
}
.all-mid .mid-left {
  width: 350px;
  float: left;
  position: relative;
}
.all-mid .mid-left img {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 160px;
  transition: all 0.4s;
}

.all-right {
  float: left;
  width: 200px;
}
.all-right .right-2 {
  width: 210px;
}

.all-mid a,
.all-right a {
  height: 195px;
  background: #fff;
  position: relative;
  overflow: hidden;
  display: block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.cu {
  width: 28px;
  height: 31.11px;
  background: url(https://static.ingping.com/yp/images/cu-1.0.1.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  line-height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 14px;
}

.mid-left-l {
  width: 180px;
}

.all_left_div {
  position: absolute;
  top: 15px;
  left: 15px;
}
.all_left_div .c-999 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
}
.all_left_div .f-18 {
  font-size: 18px;
}

.right-imgs {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 130px;
  transition: all 0.4s;
}

.icon {
  background: url(https://static.ingping.com/yp/images/result-1.0.0.png);
  width: 32px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.icon1 {
  background-position: 0px 0px;
}

.record-left {
  float: left;
  width: 400px;
  height: 400px;
}

.record-mid {
  float: left;
  width: 350px;
  position: relative;
  margin: 0 10px;
}
.record-mid .record-mid-img {
  width: 350px;
  height: 195px;
  float: left;
  position: relative;
  display: block;
  background: #fff;
}
.record-mid .record-mid-img img {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 160px;
  transition: all 0.4s;
}
.record-mid a:nth-of-type(1) {
  margin-bottom: 10px;
}

.record-right {
  float: left;
  width: 430px;
  position: relative;
}
.record-right .record-right-img {
  width: 210px;
  height: 195px;
  background: #fff;
  float: left;
  display: block;
  position: relative;
}
.record-right img {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 130px;
  transition: all 0.4s;
}
.record-right a:nth-of-type(2n) {
  margin-left: 10px;
}
.record-right a:nth-of-type(1) {
  margin-bottom: 10px;
}
.record-right a:nth-of-type(2) {
  margin-bottom: 10px;
}

.fl {
  float: left;
  margin-right: 10px;
}

#main .mb-10 {
  margin-bottom: 10px;
}

.brands {
  height: 70px;
  background: #fff;
  border-bottom: 2px solid #ff6600;
}
.brands li {
  width: 120px;
  height: 70px;
  padding: 15px 0px;
  text-align: center;
  float: left;
}
.brands li a {
  display: block;
}
.brands li img {
  height: 40px;
}

.icon2 {
  background-position: 0px -26px;
}

.icon3 {
  background-position: 0px -52px;
}

.icon4 {
  background-position: 0px -78px;
}

.icon5 {
  background-position: 0px -104px;
}

.icon6 {
  background-position: 0px -130px;
}

.new-main .new-imgs,
.new-main .ypnews-imgs,
.ypnews-main .new-imgs,
.ypnews-main .ypnews-imgs {
  width: 235px;
  margin-right: 5px;
  background: #fff;
  padding: 0px;
}

.pro-img {
  overflow: hidden;
}
.pro-img img {
  width: 100%;
  margin: 0 auto;
  height: 174px;
}

.new-title {
  height: 34px;
  margin: 15px;
  overflow: hidden;
  font-size: 12px;
}

.share-pro {
  background: #f2f2f2;
  height: 62px;
  display: block;
  padding: 2px;
  margin: 15px;
}
.share-pro img {
  width: 62px;
  height: 62px;
  float: left;
  margin: 0;
}

.pro-title {
  padding: 13px 10px 19px 10px;
  margin-left: 62px;
}
.pro-title .title {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  height: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: -1px;
}

.line {
  border-top: 1px solid #ddd;
}

.name-date {
  padding: 10px;
}
.name-date dt {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  float: left;
  color: #999;
}
.name-date .date {
  float: right !important;
  color: #999;
}

.yp-title {
  height: 40px;
  margin: 15px;
  overflow: hidden;
  font-size: 14px;
}

/*# sourceMappingURL=index.css.map */
