.login-header {
  height: 100px;
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.login-logo {
  float: left;
}

.header-text {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  margin-top: 12px;
  border: 1px solid;
  border-color: #ffb4a8;
  background: #fef2f2;
  line-height: 16px;
  padding: 6px 10px;
  overflow: hidden;
  box-sizing: content-box;
}
.header-text p {
  width: auto;
  color: #6C6C6C;
}

.login-items {
  margin-top: 17px;
  margin-right: 47px;
  float: right;
}
.login-items li {
  float: left;
  width: 125px;
}

.login-footer {
  text-align: center;
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
}

.f-nav {
  margin-bottom: 10px;
  color: #ddd;
}
.f-nav a {
  display: inline-block;
  color: #919191;
  padding: 0 6px;
  line-height: 1.2;
}
.f-nav a:hover {
  color: #545454;
  font-weight: bold;
}

.f-text {
  color: #999;
  line-height: 26px;
}

#login-index {
  height: 880px;
  position: relative;
  overflow: hidden;
}

.login-content {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  height: 580px;
}

.content-bg {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.content-bg a {
  background-image: url(https://img.ingping.com/images/ad_images/201705/201705031858210830908.jpg);
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}

.login {
  width: 35%;
  float: right;
  margin-right: 3%;
  height: 100%;
  position: relative;
}

.login-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
  margin-top: 12%;
  font-weight: bolder;
}

.login-main {
  text-align: left;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 75%;
  top: 50px;
}

.main {
  display: block !important;
  width: 80%;
  padding-top: 10px;
  margin: 0 auto;
}

.main-title {
  height: 45px;
  font-size: 18px;
  line-height: 45px;
  color: #666666;
}

.user,
.pass {
  position: relative;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #e6e6e6 !important;
  position: relative;
}

.text,
.password {
  line-height: 20px;
  width: 92%;
  padding: 12px 10px;
  border: 0;
  outline: 0;
  font-size: 14px;
}

.forget {
  height: 18px;
  margin-top: 16px;
  text-align: right;
}
.forget a {
  display: inline-block;
  color: #999;
  padding-right: 6px;
}
.forget a:hover {
  color: #ff6600;
}

.buttons {
  margin-top: 16px;
  display: block;
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  outline: 0;
}

.denglu {
  background: #E91206 !important;
  color: #fff !important;
  border: 1px solid #E91206 !important;
}

.zhuce {
  background: #fff !important;
  border: 1px solid #e5e5e5 !important;
  color: #7c7c7c !important;
}

.login-foot {
  height: 18px;
  margin-top: 16px;
}

.f-main {
  position: relative;
  float: right;
}
.f-main dl {
  width: 237px;
}
.f-main dt {
  float: left;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  color: #999;
}
.f-main a {
  float: left;
  height: 24px;
  line-height: 16px;
  width: 30px;
  background: url(https://passport.ingping.com/images/s_gallery_20141218.png) left top no-repeat;
}
.f-main .weixin {
  background-position: 0 0px;
}
.f-main .zfb {
  background-position: 0 -58px;
}
.f-main .qq {
  background-position: 0 -87px;
}
.f-main .weibo {
  background-position: 0 -116px;
}

/*# sourceMappingURL=login.css.map */
